<!--支払いレコード全体表示-->
<% pay_records.each do |pay_record| %>
  <div class ="">
      <dix class="row user_row mt-2 mb-2">
          <!--レコード名-->
          <div class="col-3 to_table">
              <h3 class="vertical-middle"><%= pay_record.name %></h3>
          </div>
          <!--精算金額-->
          <div class="col-4 to_table">
              <p class="vertical-middle">
                <span><%= pay_record.amount %>円</span>
                <% if pay_record.initial_users.present? %>
                  <span>（一人当り<%= pay_record.amount.div(pay_record.initial_users.count) %>円）</span>
                <% end %>
              </p>
          </div>      
          <!--精算、未精算者-->
          <div class="col-5 to_table">
            <% pay_record.initial_users.all.each do |pay_user| %>
              <div class="vertical-middle float-right">
                <% if pay_user == User.find(pay_record.paied_user_id) %>
                  <div style="display:inline-block" class="follow_button">
                    <button type="button" class="btn btn-secondary m-1"><%= pay_user.name %></button>
                  </div>
                <% else %>
                  <%= render 'pay_relationships/paied_button', user: pay_user, pay_record: pay_record %>
                <% end %>
              </div>
            <% end %>
          </div>    
      </dix>
  </div>
<% end %>