<!--パソコンサイズの場合-->
<% pay_records.each do |pay_record| %>
  <div id="pay_records-<%= pay_record.id %>" class ="payments_pc">
      <dix class="row user_row mt-2 mb-2">
          <!--レコード名-->
          <div class="col-2 to_table">
              <h6 class="vertical-middle"><%= pay_record.name %></h6>
          </div>
          <!--精算金額-->
          <div class="col-4 to_table">
              <p class="vertical-middle">
                <span><%= pay_record.amount %>円</span>
                <br>
                <% if pay_record.initial_users.present? %>
                  <span>(<%= pay_record.amount.div(pay_record.initial_users.count) %>円/人)</span>
                <% end %>
              </p>
          </div>      
          <!--精算、未精算者-->
          <div id="pay_relationships-<%= pay_record.id %>" class="col-5 to_table">
            <%= render "pay_records/pay_buttons", users: pay_record.initial_users, pay_record: pay_record %>
          </div>
          <div class="col-1 to_table">
            <%= link_to group_event_pay_record_path(pay_record.event.group, pay_record.event, pay_record), method: :delete, title: "destroy", class:"icons", remote:true do %>
                <span><i class="fas fa-times"></i></span>
            <% end %>
          </div>
      </dix>
  </div>
<% end %>

<!--スマホサイズの場合-->
<% pay_records.each do |pay_record| %>
  <div id="pay_records-<%= pay_record.id %>" class ="payments_sc">
      <dix class="row user_row mt-2 mb-2">
          <!--レコード名-->
          <div class="col-5 to_table">
              <h6 class="vertical-middle"><%= pay_record.name %></h6>
          </div>
          <!--精算金額-->
          <div class="col-5 to_table">
              <p class="vertical-middle">
                <span><%= pay_record.amount %>円</span>
                <br>
                <% if pay_record.initial_users.present? %>
                  <span>(<%= pay_record.amount.div(pay_record.initial_users.count) %>円/人)</span>
                <% end %>
              </p>
          </div>      
          <!--精算、未精算者-->
          <div class="col-2 vertical-middle">
            <div class="center">
              <%= link_to pay_users_group_event_pay_record_path(pay_record.event.group,pay_record.event, pay_record), remote: true do %>
                <span><i class="fas fa-user-check" color="black"></i></span>
              <% end %>
              <%= link_to group_event_pay_record_path(pay_record.event.group, pay_record.event, pay_record), method: :delete, title: "destroy", class:"icons", remote:true do %>
                  <span><i class="fas fa-xs fa-times"></i></span>
              <% end %>
            </div>
            <div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
          </div>    
      </dix>
  </div>
<% end %>