<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div id="pay_relationships-<%= @pay_record.id %>">
      <%= render "pay_records/pay_buttons", users: @pay_record.initial_users, pay_record: @pay_record %>
      <!--<% @pay_record.initial_users.all.each do |pay_user| %>-->
      <!--  <div style="display: block;" class="vertical-middle right">-->
      <!--    <% if pay_user == User.find(@pay_record.paied_user_id) %>-->
      <!--      <div class="follow_button">-->
      <!--        <button type="button" class="btn btn-info m-1"><%= pay_user.name %></button>-->
      <!--      </div>-->
      <!--    <% else %>-->
      <!--      <div>-->
      <!--        <div class="follow_button">-->
      <!--          <% if pay_user.need_pay?(@pay_record) %>-->
      <!--              <%= form_with(model: pay_user.pay_relationships.find_by(pay_record_id: @pay_record.id), method: :delete) do |f| %>-->
      <!--                <%= hidden_field_tag :pay_record_id, @pay_record.id %>-->
      <!--                <%= hidden_field_tag :user_id, pay_user.id %>-->
      <!--                <%= hidden_field_tag :situation, "modal" %>-->
      <!--                <%= f.submit pay_user.name, class: 'btn btn-danger m-1' %>-->
      <!--              <% end %>-->
      <!--          <% else %>-->
      <!--              <%= form_with(model: pay_user.pay_relationships.build) do |f| %>-->
      <!--                <%= hidden_field_tag :pay_record_id, @pay_record.id %>-->
      <!--                <%= hidden_field_tag :user_id, pay_user.id %>-->
      <!--                <%= hidden_field_tag :situation, "modal" %>-->
      <!--                <%= f.submit pay_user.name, class: 'btn btn-secondary m-1' %>-->
      <!--              <% end %>-->
      <!--          <% end %>  -->
      <!--        </div>-->
      <!--      </div>-->
      <!--    <% end %>-->
      <!--  </div>-->
      <!--<% end %>-->
    </div>
  </div>
</div>
