<div id="portfolio">
    <div class="container">
        <%= form_with url: root_path, method: :get, local: true do |f| %>
          <%= f.select "sort", options_for_select({更新の新しい順: "new", 更新の古い順: "old", 名前順: "name"}), include_blank: "選択する", selected: params[:sort] %>
          <%= f.submit "並べ替え" %>
        <% end %>
    </div>
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <% groups.uniq.each do |group| %>
                <div class="col-lg-4 col-6">
                    <%= link_to group_path(group), class: "portfolio-box m-1" do %>
                        <% if group.image.present? %>
                            <%= image_tag group.image.url(:thumb), class: "img-fluid" %>
                        <% else %>                   
                            <img class = "img-fluid" src= "/assets/group_default.png">
                        <% end %>
                        <div class="portfolio-box-caption">
                            <div class="project-name"><h5><%= group.name %></h5></div>
                        </div>
                    <% end %>
                </div>
            <% end %>
            <%= paginate groups %>
        </div>
    </div>
</div>