<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <% groups.uniq.each do |group| %>
                <div class="col-lg-4 col-sm-6">
                    <%= link_to group_path(group), class: "portfolio-box m-1" do %>
                        <% if group.image.present? %>
                            <%= image_tag group.image.url, class: "img-fluid" %>
                        <% else %>                   
                            <img class = "img-fluid" src= "/assets/group_default.png">
                        <% end %>
                        <div class="portfolio-box-caption">
                            <div class="project-updated_at"><time><%= group.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新</div>
                            <div class="project-name"><h2><%= group.name %></h2></div>
                            <%= render 'user_to_groups/member_button', user: current_user, group: group %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>