<%= form_with(model: group, local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  
  <div class="form-group chat-group-form__field">
    <div class="chat-group-form__field--left">
      <%= f.label :name, class: 'chat-group-form__label' %>
      <%= f.text_field :name, class: 'chat__group_name chat-group-form__input form-control', placeholder: 'グループ名を入力してください' %>
    </div>
    
    <div class="chat-group-form__field--right">
      <%= f.label :image, class: 'chat-group-form__label' %>
      <%= f.file_field :image, class: 'chat__group_name chat-group-form__input form-control', placeholder: 'トップ画像を選択してください' %>
    </div>
    
    <div class="chat-group-form__field--right">
      <%= f.label :key, class: 'chat-group-form__label' %>
      <%= f.text_field :key, class: 'chat__group_name chat-group-form__input form-control', placeholder: 'キーを設定してください（メンバー招待時に使用します）' %>
    </div>
  </div>
  
  <div class="form-group chat-group-form__field.clearfix">
    <% if current_user.friends.present? %>
      <div class="chat-group-form__field--left">
        <%= f.label :user_ids, class: 'chat-group-form__label form-group' %>
        <%= f.collection_check_boxes :user_ids, current_user.friends, :id, :name, class:"form-control" %>
      </div>
    <% end %>
  </div>
  
  <div class="form-group chat-group-form__field.clearfix">
    <div class="chat-group-form__field--right">
      <%= f.submit class: 'btn btn-secondary chat-group-form__action-btn form-control' %>
    </div>
  </div>
<% end %>