
<% if logged_in? %>
    <div class="head-wrap">
      <h2 class="head">
          Groups<span class="head-point">－グループ－</span>
            <%= link_to "/groups/new", title: "new_group", class:"icons float-right" do %>
              <span><i class="far fa-plus-square"></i></span>
            <% end %>
      </h2>
    </div>
    <body id="page-top">
        
        <ul class="nav nav-tabs nav-justified mb-3">
          <li class="nav-item"><a href="<%= groups_path(current_user) %>" class="nav-link active">所属 <span class="badge badge-secondary"><%= current_user.join_groups.count %></span></a></li>
          <li class="nav-item"><a href="<%= requested_groups_user_path(current_user) %>" class="nav-link">申請中  <span class="badge badge-secondary"><%= current_user.only_requested_groups.count %></span></a></li>
          <li class="nav-item"><a href="<%= inviting_groups_user_path(current_user) %>" class="nav-link">招待中  <span class="badge badge-secondary"><%= current_user.only_inviting_groups.count %></span></a></li>
        </ul>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <% @groups.uniq.each do |group| %>
                        <div class="col-lg-4 col-sm-6">
                            <%= link_to group_path(group), class: "portfolio-box m-1" do %>
                                <% if group.image.present? %>
                                    <%= image_tag group.image.url, class: "img-fluid" %>
                                <% else %>                   
                                    <img class = "img-fluid" src= "/assets/group_default.png">
                                <% end %>
                                <div class="portfolio-box-caption">
                                    <div class="project-updated_at"><time><%= group.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新</div>
                                    <div class="project-name"><h2><%= group.name %></h2></div>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
    

<% else %>
        <div class="container background_top">
            <div class="row catch_copies">
                <div class="col-lg-10 fadein">
                    <h1 class="font-weight-bold catch_copy_main">Wediaryで、<br>自分たちだけの旅の記録を。</h1>
                    <hr class="divider my-4">
                    <p class="text-white-75 font-weight-light mb-5"></p>
                    <%= link_to "新しく始める", new_user_path, class: "btn btn-primary btn-xl js-scroll-trigger" %>
                    <%= link_to "ログイン", login_path, class: "btn btn-primary btn-xl js-scroll-trigger" %>
                </div>
            </div>
        </div>
        <div></div>
        <div class="container">
            <div class="row catch_copies">
                <div class="col-lg-5 fadein">
                    <img src="assets/undraw_photo_sharing_1_85vy.png" width="400px">
                </div>
                <div class="col-lg-7 fadein">
                    <h1 class="font-weight-bold catch_copy_right">グループ内で写真の共有</h1>
                    <hr class="divider my-4">
                    <div class="mt-5">
                        <h4 class="right">お気に入りの写真を投稿し、<br>グループだけのアルバムを作れます。</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row catch_copies">
                <div class="col-lg-7 fadein">
                    <h1 class="font-weight-bold catch_copy_left">地図、カレンダーと紐づけて<br>イベントの記録を管理</h1>
                    <hr class="divider my-4">
                    <div class="mt-5">
                        <h4 class="left">「いつ」、「どこで」、「だれと」が紐づいており、<br>より詳細な記録が簡単に残せます。</h4>
                    </div>
                </div>
                <div class="col-lg-5 fadein">
                    <img src="assets/undraw_world_9iqb.png" width="400px">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row catch_copies">
                <div class="col-lg-5 fadein">
                    <img src="assets/undraw_printing_invoices_5r4r.png" width="400px">
                </div>
                <div class="col-lg-7 fadein">
                    <h1 class="font-weight-bold catch_copy_right">計画から精算記録まで<br>イベントの共有、記録</h1>
                    <hr class="divider my-4">
                    <div class="mt-5">
                        <h4 class="right">ちょっと煩わしいアイデア集約や精算管理が、<br>このアプリ一つでできます。</h4>
                    </div>
                </div>
            </div>
        </div>
<% end %>
