<% if logged_in? %>
    <div class="head-wrap">
      <h2 class="head">
          Groups<span class="head-point">－グループ－</span>
      </h2>
        <%= link_to "/groups/new", title: "new_group", class:"icons float-right" do %>
          <span><i class="far fa-plus-square"></i></span>
        <% end %>
    </div>
    <body id="page-top">
        
        <script>
            $(function() {
                $('.nav-item').click(function(){
                    $('.active').removeClass('active');
                    $(this).children('.nav-link').addClass('active');
                    $('.show').removeClass('show');
                    const index = $(this).index();
                    $('.box').eq(index).addClass('show');
                });
            });
        </script>

        <ul class="nav nav-tabs nav-justify_content_center mb-3">
          <li class="nav-item"><a href="#" class="nav-link active">所属 <span class="badge badge-secondary"><%= current_user.join_groups.count %></span></a></li>
          <li class="nav-item"><a href="#" class="nav-link">申請中  <span class="badge badge-secondary"><%= current_user.only_requested_groups.count %></span></a></li>
          <li class="nav-item"><a href="#" class="nav-link">招待中  <span class="badge badge-secondary"><%= current_user.only_inviting_groups.count %></span></a></li>
        </ul>
     
        <div class="contents">
            <div class="box show">
                <%= render partial: 'event_images', locals: { groups: @groups } %>
            </div>
            <div class="box">
                <%= render partial: 'event_images', locals: { groups: @requested_groups } %>
            </div>
            <div class="box">
                <%= render partial: 'event_images', locals: { groups: @inviting_groups } %>
            </div>
        </div>
    </body>
    

<% else %>
        <div class="container background_top">
            <div class="row catch_copies">
                <div class="col-lg-12 catch_copy_main">
                    <h1 class="font-weight-bold">Wediaryで、<br>自分たちだけの旅の記録を。</h1>
                    <hr class="divider my-4">
                    <p class="text-white-75 font-weight-light mb-5"></p>
                    <%= link_to "新しく始める", new_user_path, class: "btn btn-primary btn-xl js-scroll-trigger" %>
                    <%= link_to "ログイン", login_path, class: "btn btn-primary btn-xl js-scroll-trigger" %>
                </div>
            </div>
        </div>
        <div class="wrap">
            <div class="container">
                <div class="row catch_copies">
                    <div class="col-lg-5 col-md-3 catch_copy_image fadein">
                        <img src="assets/undraw_photo_sharing_1_85vy.png" width="100%">
                    </div>
                    <div class="col-lg-7 col-md-9 fadein catch_copy_box">
                        <div>
                            <h1 class="font-weight-bold catch_copy">グループ内で写真の共有</h1>
                            <hr class="divider my-4">
                            <div class="mt-5">
                                <h4>お気に入りの写真を投稿し、<br>グループだけのアルバムを作れます。</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row catch_copies">
                    <div class="col-lg-5 col-md-3 catch_copy_image fadein">
                        <img src="assets/undraw_world_9iqb.png" width="100%">
                    </div>
                    <div class="col-lg-7 col-md-9 fadein catch_copy_box">
                        <div>
                            <h1 class="font-weight-bold catch_copy">地図、カレンダーと紐づけて<br>イベントの記録を管理</h1>
                            <hr class="divider my-4">
                            <div class="mt-5">
                                <h4>「いつ」、「どこで」、「だれと」を、<br>より詳細な記録が簡単に残せます。</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row catch_copies">
                    <div class="col-lg-5 col-md-3 catch_copy_image fadein">
                        <img src="assets/undraw_printing_invoices_5r4r.png" width="100%">
                    </div>
                    <div class="col-lg-7 col-md-9 fadein catch_copy_box">
                        <div>
                            <h1 class="font-weight-bold catch_copy">計画から精算記録まで<br>イベントの共有、記録</h1>
                            <hr class="divider my-4">
                            <div class="mt-5">
                                <h4>煩わしいアイデア集約や精算管理が、<br>このアプリ一つでできます。</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<% end %>
