<% if @group.request_users.include?(current_user) && @group.invited_users.include?(current_user) %>
  <div class="conrainer group_show mb-5">
      <div class="full_width">
        <%= link_to groups_path(current_user), class: "icons float-left" do %>
          <span><i class="fas fa-arrow-left"></i></span>
        <% end %>
      </div>
      <div class="row">
          <div class="col-md-12 right">
            <%= link_to edit_group_path(@group), title: "edit_group", class: "icons float-right" do %>
              <span><i class="fas fa-cogs"></i></span>
            <% end %>
            <%= link_to @event, method: :delete, data: { confirm: "削除してよろしいですか?" }, title: "destroy", class:"icons float-right" do %>
              <span><i class="fas fa-trash-alt"></i></span>
            <% end %>
          </div>
          <div class="col-md-12 center mt-3">
              <span><%= default_group_picture(@group, 300) %></span>
          </div>
          <div class="center col-md-12">
              <h1 class="mt-2"><strong><%= @group.name %></strong></h1>
              <h3>キー：<%= @group.key %></h3>
          </div>
          <div class="center col-md-12">
              <div class="group-status vartical-middle">
                  <div class="row mt-4">
                      <div class="col-4 float-center">
                          <div class="profile-status"><h5><%= @group.events.uniq.count %><br>events</h5></div>
                      </div>
                      <div class="col-4">
                          <div class="profile-status"><h5><%= link_to @joined_users.uniq.count, group_users_group_path(users: @group.request_users) %><br>members</h5></div>
                      </div>
                      <div class="col-4">
                          <div class="profile-status">
                            <h5>
                              <%= link_to @only_request_users.uniq.count, request_users_group_path(@group) %>
                              <br>
                              requests
                            </h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="center col-md-12">
              <div class="group-status vartical-middle">
                  <div class="row mt-4">
                      <div class="col-6 center">
                          <h5 class="btn btn-success mt-3" style="width: 400px"><%= link_to "イベント作成", "/groups/#{@group.id}/events/new" %> </h5>
                      </div>
                      <div class="col-6 center">
                          <h5 class="btn btn-primary mt-3" style="width: 400px"><%= link_to "友達を招待", "/groups/#{@group.id}/invite_user" %> </h5>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div>
      </div>    
  </div>
  
  <div class="head-wrap mt-5">
      <h2 class="head">
          Summary<span class="head-point">－概要－</span>
          <%= link_to "/groups/#{@group.id}/events/new", title: "new_event", class: "icons float-right" do %>
            <span><i class="far fa-plus-square"></i></span>
          <% end %>
      </h2>
  </div>

  
  <!--地図表示-->
  <div class="row mb-5">
    <div class="col-lg-6">
        <%= form_with url: group_path(@group), method: :get, local: true do |f| %>
          <div class='form-group mt-1 mb-1'>
            <%= f.date_field :from, value: params[:from] %> 
            ~
            <%= f.date_field :to, value: params[:to] %> 
            <%= f.submit 'フィルタ', class: 'btn btn-secondary' %> 
          </div>
        <% end %>
        <div id="map", class="mx-auto", style='height: 400px; width: 400px;'>
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async></script>   
        
        <script>
              let map;
              let marker = []; // マーカーを複数表示させたいので、配列化
              let infoWindow = []; // 吹き出しを複数表示させたいので、配列化
              let markerData = gon.sort_group_maps; // コントローラーで定義したインスタンス変数を変数に代入
            
              function initMap() {
                geocoder = new google.maps.Geocoder()
            
                map = new google.maps.Map(document.getElementById('map'), {
                  center: { lat: 35.6585, lng: 139.7486 }, // 東京タワーを中心に表示させている
                  zoom: 1,
                });
            
                // 繰り返し処理でマーカーと吹き出しを複数表示させる
                for (var i = 0; i < markerData.length; i++) {
                  var id = markerData[i]['id'];
            
                  // 各地点の緯度経度を算出
                  markerLatLng = new google.maps.LatLng({
                    lat: markerData[i]['latitude'],
                    lng: markerData[i]['longitude']
                  });
            
                  // 各地点のマーカーを作成
                  marker[i] = new google.maps.Marker({
                    position: markerLatLng,
                    map: map
                  });
            
                  // 各地点の吹き出しを作成
                  <% @events.each do |event| %>
                    <% if event.map_id.present? %>
                      var contentStr = '<a href="/groups/<%= @group.id %>/events/<%= event.id %>"><%= event.name %></a>';
                      if (id === <%= event.map_id %>) {
                        infoWindow[i] = new google.maps.InfoWindow({
                          content: contentStr
                        });
                      }
                    <% end %>
                  <% end %>
                  
            
                  // マーカーにクリックイベントを追加
                  markerEvent(i);
                }
              }
    
              // マーカーをクリックしたら吹き出しを表示
              function markerEvent(i) {
                marker[i].addListener('click', function () {
                  infoWindow[i].open(map, marker[i]);
                });
              }
        </script>
    </div>
    <div class="col-lg-6">
      <div class="event_history">
          <%= month_calendar events: @events do |date, events| %>
            <%= date.day %>
          
            <% events.each do |event| %>
              <div>
                <%= link_to event.name, group_event_path(@group, event) %>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
  
  <div class="head-wrap mt-5">
      <h2 class="head">
          Events<span class="head-point">－イベント－</span>
          <%= link_to "/groups/#{@group.id}/events/new", class:"icons float-right" do %>
            <span><i class="far fa-plus-square"></i></span>
          <% end %>
      </h2>
  </div>
  
  <body id="page-top">
    <div id="portfolio">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <% @events.each do |event| %>
                    <div class="col-lg-4 col-6 fadein">
                        <div class="ml-2 mb-2">
                          <%= link_to group_event_path(@group, event), class: "portfolio-box" do %>
                              <div class ="portfolio-box">
                                <% if event.image.present? %>
                                  <%= image_tag event.image.url, class: "img-fluid" %>
                                <% else %>                   
                                  <img class = "img-fluid" src= "/assets/event_default.png">
                                <% end %>
                              </div>
                              <div class="portfolio-box-caption">
                                  <div class="project-date"><h2><%= event.start_time.strftime("%Y年%m月%d日") %></h2></div>
                                  <div class="project-name"><h1><%= event.name %></h1></div>
                              </div>
                          <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
  </body>
  </div>
<% else %>
  <div class="conrainer group_show mb-5">
      <div class="row">
        <%= link_to groups_path(current_user), class: "icons float-left" do %>
          <span><i class="fas fa-arrow-left"></i></span>
        <% end %>
      </div>
      <div class="row">
          <div class="col-md-4 center">
              <span><%= default_group_picture(@group, 200) %></span>
          </div>
          <div class="col-md-8 center">
              <div class="row", style="height:200px">
                  <div class="col-md-9">
                      <h1 class="mt-5"><strong><%= @group.name %></strong><%= render 'user_to_groups/member_button', class: "center", group: @group %></h1>
                  </div>
              </div>
          </div>
      </div>
      <div>
      </div>    
  </div>
<% end %>