
<% if logged_in? %>
    <div class="head-wrap">
      <h2 class="head">
          Groups<span class="head-point">－グループ－</span>
            <%= link_to "/groups/new", class:"icons float-right" do %>
              <span><i class="far fa-plus-square"></i></span>
            <% end %>
      </h2>
    </div>
    <body id="page-top">
        
        <ul class="nav nav-tabs nav-justified mb-3">
          <li class="nav-item"><a href="<%= groups_path(current_user) %>" class="nav-link active">所属 <span class="badge badge-secondary"><%= current_user.join_groups.count %></span></a></li>
          <li class="nav-item"><a href="<%= requested_groups_user_path(current_user) %>" class="nav-link">申請中  <span class="badge badge-secondary"><%= current_user.only_requested_groups.count %></span></a></li>
          <li class="nav-item"><a href="<%= inviting_groups_user_path(current_user) %>" class="nav-link">招待中  <span class="badge badge-secondary"><%= current_user.only_inviting_groups.count %></span></a></li>
        </ul>

        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <% @groups.uniq.each do |group| %>
                        <div class="col-lg-4 col-sm-6">
                            <%= link_to group_path(group), class: "portfolio-box m-1" do %>
                                <% if group.image.present? %>
                                    <%= image_tag group.image.url, class: "img-fluid" %>
                                <% else %>                   
                                    <img class = "img-fluid" src= "/assets/group_default.png">
                                <% end %>
                                <div class="portfolio-box-caption">
                                    <div class="project-name"><h2><%= group.name %></h2></div>
                                    <%= render 'group_users/member_button', user: current_user, group: group %>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
<% end %>
