<div class="mt-5 conrainer">
        <div class="row">
            <div class="col-12">
                <% if current_user?(@user.id) %>
                    <%= link_to edit_user_path, title: "edit_user", class: "icons float-right" do %>
                        <span><i class="fas fa-cogs"></i></span>
                    <% end %>
                <% end %>
            </div>
        </div>
    <div class="row profile_for_pc">
        <div class="col-4">
            <div class="profile_side">
                <h3><i class="fas fa-users"></i></h3>
                <div class="profile-status"><h5>グループ　<%= @user.join_groups.count %></h5></div>
                <div class="profile-status"><h5>申請中　<%= @user.only_requested_groups.count %></h5></div>
                <div class="profile-status"><h5>招待　<%= @user.only_inviting_groups.count %></h5></div>
            </div>
        </div>
        <div class="col-4 text-center">
            <%= profile_picture @user, 200 %>
            <h1><%= @user.name %></h1>
            <h4><%= @user.id %></h4>
            <h5><%= render 'relationships/follow_button', user: @user, class:"profile_follow_button" %></h5>
        </div>
        <div class="col-4">
            <div class="profile_side">
                <h3><i class="fas fa-people-arrows"></i></h3>
                <div class="profile-status"><h5>友達　<%= link_to @user.total_friends, friends_user_path(current_user) %></h5></div>
                    <div class="profile-status"><h5>申請中　<%= link_to @user.only_followings.count, followings_user_path(current_user) %></h5></div>
                    <div class="profile-status"><h5>未承認　<%= link_to @user.only_followers.count, followers_user_path(current_user) %></h5></div>
            </div>
        </div>
    </div>
    <div class="profile_for_sp">
        <div class="center">
            <%= profile_picture @user, 200 %>
            <h1><%= @user.name %></h1>
            <h4><%= @user.id %></h4>
            <h5><%= render 'relationships/follow_button', user: @user, class: "center" %></h5>
        </div>
        <div class="row">
           <div class="col-6">
                <div class="profile_side">
                    <h3><i class="fas fa-users"></i></h3>
                    <div class="profile-status"><h5>グループ　<%= link_to @user.join_groups.count, groups_path %></h5></div>
                    <div class="profile-status"><h5>申請中　<%= link_to @user.only_requested_groups.count, groups_path %></h5></div>
                    <div class="profile-status"><h5>招待　<%= link_to @user.only_inviting_groups.count, groups_path %></h5></div>
                </div>
            </div>
            <div class="col-6">
                <div class="profile_side">
                    <h3><i class="fas fa-people-arrows"></i></h3>
                    <div class="profile-status"><h5>友達　<%= link_to @user.total_friends, friends_user_path(current_user) %></h5></div>
                    <div class="profile-status"><h5>申請中　<%= link_to @user.only_followings.count, followings_user_path(current_user) %></h5></div>
                    <div class="profile-status"><h5>未承認　<%= link_to @user.only_followers.count, followers_user_path(current_user) %></h5></div>
                </div>
            </div>
        </div>    
    </div>
</div>

<% if @user == current_user %>
    <div class="head-wrap">
      <h2 class="head">
          Activities<span class="head-point">－アクティビティ－</span>
      </h2>
    </div>

  <!--地図表示-->
  <div class="row mb-5">
    <div class="col-lg-6 mb-5">
        <%= form_with url: user_path(@user), method: :get, local: true do |f| %>
          <div class='form-group mt-1 mb-1'>
            <span class="date_field"><%= f.date_field :from, value: params[:from] %> </span>
            ~
            <span class="date_field"><%= f.date_field :to, value: params[:to] %></span>
            <%= f.submit 'フィルタ', class: 'btn btn-secondary', style: "font-size: 10px; padding: 2px;" %>
          </div>
        <% end %>
        <div id="map", class="mx-auto", style='width: 90%;'>
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async></script>   
        
        <script>
              let map;
              let marker = [];
              let infoWindow = []; 
              let markerData = gon.sort_group_maps; 
              function initMap() {
                geocoder = new google.maps.Geocoder()
            
                map = new google.maps.Map(document.getElementById('map'), {
                  center: { lat: 35.6585, lng: 139.7486 }, 
                  zoom: 1,
                });
            
                for (var i = 0; i < markerData.length; i++) {
                  var id = markerData[i]['id'];
            
                  markerLatLng = new google.maps.LatLng({
                    lat: markerData[i]['latitude'],
                    lng: markerData[i]['longitude']
                  });
            
                  marker[i] = new google.maps.Marker({
                    position: markerLatLng,
                    map: map
                  });
                  <% @events.each do |event| %>
                    <% if event.map_id.present? %>
                      var contentStr = '<a href="/groups/<%= event.group.id %>/events/<%= event.id %>"><%= event.name %></a>';
                      if (id === <%= event.map_id %>) {
                        infoWindow[i] = new google.maps.InfoWindow({
                          content: contentStr
                        });
                      }
                    <% end %>
                  <% end %>
                  markerEvent(i);
                }
              }
    
              function markerEvent(i) {
                marker[i].addListener('click', function () {
                  infoWindow[i].open(map, marker[i]);
                });
              }
        </script>
    </div>
    <div class="col-lg-6">
      <div class="event_history", style="width: 90%">
          <%= month_calendar events: @events do |date, events| %>
            <%= date.day %>
          
            <% events.each do |event| %>
              <div>
                <%= link_to event.name, group_event_path(event.group, event) %>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
  
    <div class="head-wrap">
      <h2 class="head">
          Groups<span class="head-point">－グループ－</span>
      </h2>
        <%= link_to "/groups/new", title: "new_group", class:"icons float-right" do %>
          <span><i class="far fa-plus-square"></i></span>
        <% end %>
    </div>
    <body id="page-top">
        
        <script>
            $(function() {
                $('.nav-item').click(function(){
                    $('.active').removeClass('active');
                    $(this).children('.nav-link').addClass('active');
                    $('.show').removeClass('show');
                    const index = $(this).index();
                    $('.box').eq(index).addClass('show');
                });
            });
        </script>

        <ul class="nav nav-tabs nav-justify_content_center mb-3">
          <li class="nav-item"><a href="#" class="nav-link active">所属 <span class="badge badge-secondary"><%= @user.join_groups.count %></span></a></li>
          <li class="nav-item"><a href="#" class="nav-link">申請中  <span class="badge badge-secondary"><%= @user.only_requested_groups.count %></span></a></li>
          <li class="nav-item"><a href="#" class="nav-link">招待中  <span class="badge badge-secondary"><%= @user.only_inviting_groups.count %></span></a></li>
        </ul>
     
        <div class="contents">
            <div class="box show">
                <%= render partial: 'groups/event_images', locals: { user: @user, groups: @join_groups } %>
            </div>
            <div class="box">
                <%= render partial: 'groups/event_images', locals: { user: @user, groups: @requested_groups } %>
            </div>
            <div class="box">
                <%= render partial: 'groups/event_images', locals: { user: @user, groups: @inviting_groups } %>
            </div>
        </div>
    </body>
 <% end %>