<div class="mt-5 conrainer">
    <div class="row">
        <div class="col-4">
            <%= profile_picture @user, 200 %>
        </div>
        <div class="col-8 text-left">
            <div class="row">
                <div class="col-6">
                    <h1><%= @user.name %></h1>
                    <h2>User ID: <%= @user.id %></h2>
                </div>
            </div>
            <%= link_to "設定", edit_user_path, class: "btn btn-secondary float-right" if current_user?(@user.id) %>
            <%= link_to 'ログアウト', logout_path, method: :delete, class: "btn btn-danger float-right" if current_user?(@user.id) %>

            <div class="row mt-4">
                <div class="col-4 float-center">
                  <div class="profile-status"><h5><%= link_to @user.total_friends, friends_user_path(current_user) %> friends</h5></div>
                </div>
                <div class="col-4">
                  <div class="profile-status"><h5><%= link_to @user.total_followers, followers_user_path(current_user) %> followers</h5></div>
                </div>
                <div class="col-4">
                    <div class="profile-status"><h5><%= link_to @user.total_followings, followings_user_path(current_user) %> followings</h5></div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-4 float-center">
                  <div class="profile-status"><h5><%= link_to @user.requested_groups.count, requested_groups_user_path(current_user) %> requested groups</h5></div>
                </div>
                <div class="col-4">
                  <div class="profile-status"><h5><%= link_to @user.inviting_groups.count, inviting_groups_user_path(current_user) %> inviting groups</h5></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row profile-posts">

    </div>    
</div>
<div class="head-wrap">
  <h2 class="head">
      アクティビティ<span class="head-point">－Activities－</span>
  </h2>
</div>