<div class="mt-5 conrainer">
    <div>
        <% if current_user?(@user.id) %>
            <%= link_to logout_path, method: :delete, data: { confirm: "ログアウトしますか?" }, class: "icons float-right" do %>
                <span><i class="fas fa-sign-out-alt"></i></span>
            <% end %>
            <%= link_to edit_user_path, class: "icons float-right" do %>
                <span><i class="fas fa-cogs"></i></span>
            <% end %>
        <% end %>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="profile_side">
                <h3><i class="fas fa-users"></i></h3>
                <div class="profile-status"><h5>参加　<%= link_to @user.join_groups.count, join_groups_user_path(current_user) %></h5></div>
                <div class="profile-status"><h5>申請中　<%= link_to @user.only_requested_groups.count, requested_groups_user_path(current_user) %></h5></div>
                <div class="profile-status"><h5>招待　<%= link_to @user.only_inviting_groups.count, inviting_groups_user_path(current_user) %></h5></div>
            </div>
        </div>
        <div class="col-4 text-center">
            <%= profile_picture @user, 200 %>
            <h2><%= @user.name %></h2>
            <h4><%= @user.id %></h4>
        </div>
        <div class="col-4">
            <div class="profile_side">
                <h3><i class="fas fa-people-arrows"></i></h3>
                <div class="profile-status"><h5>友達　<%= link_to @user.total_friends, friends_user_path(current_user) %></h5></div>
                <div class="profile-status"><h5>申請中　<%= link_to @user.only_followers.count, followers_user_path(current_user) %></h5></div>
                <div class="profile-status"><h5>承認待ち　<%= link_to @user.only_followings.count, followings_user_path(current_user) %></h5></div>
            </div>
        </div>
    </div>
    <div class="row profile-posts">

    </div>    
</div>
<div class="head-wrap">
  <h2 class="head">
      アクティビティ<span class="head-point">－Activities－</span>
  </h2>
</div>