<% if @group.request_users.include?(current_user) && @group.invited_users.include?(current_user) %>
  <div class="container">
    <div class="row">
      <div class="full_width">
        <%= link_to group_event_path(@event.group, @event), class: "icons float-left" do %>
          <span><i class="fas fa-arrow-left"></i></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="head-wrap">
      <h2 class="head">
        <% if @map.present? %>
          <%= @event.name %><span class="head-point">－<%= @event.start_time %> @<%= @map.title %>－</span>
        <% else %>
          <%= @event.name %><span class="head-point">－<%= @event.start_time %>－</span>
        <% end %>
        <%= link_to edit_group_event_path(@event.group, @event), class: "icons float-right" do %>
          <span><i class="fas fa-cogs"></i></span>
        <% end %>
        <%= link_to "/groups/#{@event.group.id}/events/#{@event.id}/photos/new", class:"icons float-right" do %>
          <span><i class="far fa-plus-square"></i></span>
        <% end %>
      </h2>
  </div>
  
  <div id="photos-index">
    <%= render "photos", photos: @photos, event: @event %>
  </div>
<% end %>