<div class="head-wrap">
    <h2 class="head">
      <% if @map.present? %>
        <%= @event.name %><span class="head-point">－<%= @event.event_date %> @<%= @map.title %>－</span>
      <% else %>
        <%= @event.name %><span class="head-point">－<%= @event.event_date %>－</span>
      <% end %>
      <%= link_to edit_group_event_path(@event.group), class: "icons float-right" do %>
        <span><i class="fas fa-cogs"></i></span>
      <% end %>
      <%= link_to "/groups/#{@event.group.id}/events/#{@event.id}/photos/new", class:"icons float-right" do %>
        <span><i class="far fa-plus-square"></i></span>
      <% end %>
    </h2>
</div>
<div class="container-fluid p-0">
  <div class="row no-gutters">
      <% @photo.images.each do |image| %>
            <div class="offset-1 col-10 offset-1">
                <%= image_tag image.url, class: "m-5 img-fluid" %> 
            </div>  
      <% end %>
  </div>
</div>